body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 300px;
    background-color: #202020;
    border-radius: 10px;
}

.display {
    /* border: 1px solid black; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 75px;
    width: 80%;
    color: white;
}

.digits {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20px;
    width: 100%;
    gap: 5px;
}

button{
    width: 70px;
    height: 40px;
    color: white;
    border: 0;
    border-radius: 15px;
}

.equals-btn {
    background-color: #76b9ed;
}

.dark-grey-color-class {
    background-color: #323232;
}

.light-grey-color-class {
    background-color: #3b3b3b;
}

.null-btn {
    opacity: 0;
}